body {
  background-color: beige;
}

.App {
  text-align: center;
  /* font-style: oblique; */
  font-family: 'Times New Roman', Times, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Review-Form, .Form-Preview {
  border: 2px solid burlywood;
  background-color: antiquewhite;
  height: 100%;
  width: 70%;
  margin: 0 13%;
  float: left;
  padding: 10px 50px 50px 50px;
}

.Review-Form h2 {
  margin-bottom: 40px;
}

.Form-Preview label,.Review-Form label{
  width: 80%;
  float: left;
  text-align: left;
  vertical-align: middle;
}

.Review-Form input, textarea{
  width: 80%;
}

.Review-Form .submitButton {
  margin-top: 20px;
}

textarea {
  resize: none;
  height: 80px;
}

.Field-Row {
  padding: 10px 0;
  float: left;
  width: 100%;
  border-bottom: 1px solid burlywood;
}

.Field-Row > .Left-Row, .Field-Row > .Right-Row {
  width: 45%;
  float: left;
}

.Required-Mark {
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
